table {
  position: absolute;
  left: 30%;
	border-collapse: collapse;
  margin: 10px;
}

button {
  position: absolute;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.orange {
  background-color: orange;
}